---
---

@import "{{ site.theme }}";

.image {
  width: 100%;
}

.image_half {
  width: 50%;
}

iframe {
  width: 100%;
  height: 50vh;
  border: none;
}

#testimonialto-carousel-all-afghansk-catering-light {
  height: 333px;
}
